*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fjalla One';
}

html, body{
height:100%;
}

.layaout{
    display:grid;
    grid-template-columns:200px 1fr;
    grid-template-rows:80px 1fr;
    height:100%;
    gap:5px;
    padding:5px;
}

.title{
border: 1px solid black;
border-radius:5px;
align-content: center;
}


h1{
    text-align: center;
}

.barraLateralIzq{
    grid-row:1 / 3;
    border: 1px solid black;
    border-radius:5px;
    display: flex;
    flex-direction: column;
}

.nombreApp{
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.nombreApp h2{
    text-align: center;
}

.barraIzqOpciones{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 2px solid black;
    margin: 5px;
    align-items: center;
}

.barraIzqOpciones h3{
    margin: 25px 0;
    text-align: center;
}

.barraIzqOpciones a{
    text-decoration: none;
    color: inherit;
}

.barraIzqOpciones a h3 {
    width: 130px;
}

.cerrarSecion{
    margin-top: auto;
    margin-left: 20px;
    width: 140px;
    display: flex;
    
}

.cerrarSecion h3{
    text-align: center;
    margin-bottom: auto;
}

.cerrarSecion a{
    text-decoration: none;
    color: inherit;
}

.contenedorDePedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius:5px;
}



.btnDeActivoDesactivado{
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
    margin: 8px;
    align-content: center;
    text-align: center;
}

.listaDePedidos{
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.solicitud{
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.solicitud .tipoService {
    border-bottom: 2px solid blue;
}

.solicitud h3{
    margin: 10px;
}


label{
    color: #34C234;
}

.panelCliente{
    width:320px;
    margin: 30px auto;
}

.tipoServicio{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:30px;
    width: 600px;
    height: 40px;
    border: 1px solid black;
    margin:5px;
}


.tipoServicio label{
    margin-left: 60px;
}

.tipoServicio label{
margin-left:10px;
}

.panelCliente label{
display:block;
margin-top:10px;
font-weight:bold;
}

.panelCliente .N1, .N2, .N3, .N4{
width:100%;
padding:8px;
border:none;
border-radius:8px;
background:#4f4f4f;
color:white;
margin-top:4px;
}


.botones{
display:flex;
justify-content:space-between;
margin-top:15px;
}

.botones button{
border:none;
padding:8px 12px;
border-radius:8px;
background:#5b5b5b;
color:white;
cursor:pointer;
}

.hidden{
display:none;
}
